*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html,
body{
  width:100%;
  min-height:100%;
}

body{
  background:#f4f7f8;
  font-family:Georgia, serif;
}

.churchOverviewPage{

  position:relative;

  width:100vw;

  min-height:3200px;

  background-image:
    url("JOINPRAYERCOVER-CHURCH-OVERVIEW-PAGE.png");

  background-position:
    top center;

  background-repeat:
    no-repeat;

  background-size:
    100% 3200px;
}

/* ======================================
   BACK TO HOME
====================================== */

.churchOverviewBackHomeLink{
  position:absolute;

  top:42px;
  right:58px;

  font-family:
    Georgia,
    serif;

  font-size:24px;

  color:#062F43;

  text-decoration:none;
}


/* ======================================
   CONTENT SECTIONS
====================================== */

.churchOverviewSection{

  width:680px;

  margin:0 auto;

  text-align:center;

  color:#062F43;

  font-family:
    Georgia,
    serif;

  font-size:24px;

  line-height:1.55;
}

.churchOverviewSection h2{

  font-family:
    "Cinzel",
    serif;

  font-size:34px;

  font-weight:700;

  color:#062F43;

  text-align:center;

  margin-bottom:28px;

  margin-top:220px;
}

.churchOverviewSection p{

  margin-bottom:24px;
}

/* ======================================
   MOBILE LAYOUT
====================================== */

@media (max-width:700px){

  .churchOverviewPage{
    min-height:245vw;

    background-image:
      url("JOINPRAYERCOVER-CHURCH-OVERVIEW-MOBILE.png");

    background-position:
      top center;

    background-repeat:
      no-repeat;

    background-size:
      100% auto;
  }

  .churchOverviewBackHomeLink{
    top:12px;
    left:12px;
    right:auto;

    font-size:14px;

    z-index:20;
  }

}
