.howTheMapWorksPage{

  position:relative;

  width:100vw;

  min-height:3200px;

  background-image:
    url("JOINPRAYERCOVER-HOW-THE-MAP-WORKS.png");

  background-position:
    top center;

  background-repeat:
    no-repeat;

  background-size:
    100% 3200px;
}

.howTheMapWorksBackHomeLink{

  position:absolute;

  top:42px;

  right:58px;

  font-family:
    Georgia,
    serif;

  font-size:24px;

  color:#FFFFFF;

  text-decoration:none;
}

/* ======================================
   MOBILE LAYOUT
====================================== */

@media (max-width:700px){

  .howTheMapWorksPage{
    min-height:278vw;

    background-image:
      url("JOINPRAYERCOVER-HOW-THE-MAP-WORKS-MOBILE.png");

    background-position:
      top center;

    background-repeat:
      no-repeat;

    background-size:
      100% auto;
  }

  .howTheMapWorksBackHomeLink{
    top:8px;
    left:8px;
    right:auto;

    font-size:8px;

    z-index:20;
  }

}
