.howTheMapWorksPage{

  position:relative;

  width:100vw;

  min-height:3200px;

  background-image:
    url("JOINPRAYERCOVER-HOW-THE-MAP-WORKS.png");

  background-position:
    top center;

  background-repeat:
    no-repeat;

  background-size:
    100% 3200px;
}

.backHomeLink{

  position:absolute;

  top:42px;

  right:58px;

  font-family:
    Georgia,
    serif;

  font-size:24px;

  color:#FFFFFF;

  text-decoration:none;
}
